@{
    Layout = null;
}
<script type="text/javascript">

    FormPageFirst = function () { $('#hidePageIndex').val('1'); $('#form1').submit(); }
    FormPageFinal = function () { $('#hidePageIndex').val($('#hidePageCount').val()); $('#form1').submit(); }
    FormPagePrev = function () { $('#hidePageIndex').val($('#hidePageIndex').val() - 1); $('#form1').submit(); }
    FormPageNext = function () { $('#hidePageIndex').val(eval(eval($('#hidePageIndex').val()) + 1)); $('#form1').submit(); }
    FormPageSelect = function (newPageIndex) { $('#hidePageIndex').val(newPageIndex); $('#form1').submit(); }

</script>

@Html.Hidden("hideDataCount", (string)ViewBag.valSumDataCount)
@Html.Hidden("hideRowPage", (string)ViewBag.valPageDataCount)
@Html.Hidden("hidePageCount", (string)ViewBag.valSumPageCount)
@Html.Hidden("hidePageIndex", (string)ViewBag.valPageIndex)
@{  int DataIndexTop = 0;
  if (Convert.ToInt32(ViewBag.valPageIndex) > 1) { DataIndexTop = Convert.ToInt32(Convert.ToInt32(ViewBag.valPageDataCount) * Convert.ToInt32(Convert.ToInt32(ViewBag.valPageIndex) - 1)); }
  int DataIndexDown = 0;
  if (Convert.ToInt32(ViewBag.valPageIndex) == 1)
  {
      if (Convert.ToInt32(ViewBag.valSumDataCount) < Convert.ToInt32(ViewBag.valPageDataCount))
      {
          DataIndexDown = Convert.ToInt32(ViewBag.valSumDataCount);
      }
      else
      {
          DataIndexDown = Convert.ToInt32(ViewBag.valPageDataCount);
      }
  }
  else
  {
      if (Convert.ToInt32(Convert.ToInt32(ViewBag.valPageDataCount) * Convert.ToInt32(ViewBag.valPageIndex)) > Convert.ToInt32(ViewBag.valSumDataCount))
      {
          DataIndexDown = Convert.ToInt32(ViewBag.valSumDataCount);
      }
      else
      {
          DataIndexDown = Convert.ToInt32(Convert.ToInt32(ViewBag.valPageDataCount) * Convert.ToInt32(ViewBag.valPageIndex));
      }
  }
}
<table style="width:100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width:100%" colspan="9">
            頁數: @ViewBag.valPageIndex 頁 / @ViewBag.valSumPageCount 頁
            <input type="submit" id="PageFirst" value="第一頁" style="width:70px; height:35px" @if (Convert.ToInt32(ViewBag.valPageIndex) == 1) { @Html.Raw("disabled")      ; } else { @Html.Raw("")      ; @Html.Raw(" onclick='FormPageFirst()'")      ; } />
            <input type="submit" id="PagePrev" value="上一頁" style="width:70px; height:35px" @if (Convert.ToInt32(ViewBag.valPageIndex) == 1) { @Html.Raw("disabled")      ; } else { @Html.Raw("")      ; @Html.Raw(" onclick='FormPagePrev()'")      ; } />
            <select id="PageSelect" style="width:70px; height:35px" onchange="FormPageSelect(this.value);">
                @for (int i = 1; i <= Convert.ToInt32((string)ViewBag.valSumPageCount); i++)
                    {
                    <option value="@i.ToString()" @Html.Raw((Convert.ToInt32(ViewBag.valPageIndex) == Convert.ToInt32(i)) ? "selected " : "")>@i.ToString()</option>
                }
            </select>
            <input type="submit" id="PageNext" value="下一頁" style="width:70px; height:35px" @if (Convert.ToInt32(ViewBag.valPageIndex) == Convert.ToInt32(ViewBag.valSumPageCount)) { @Html.Raw("disabled")      ; } else { @Html.Raw("")      ; @Html.Raw(" onclick='FormPageNext()'")       ; } />
            <input type="submit" id="PageFinal" value="最末頁" style="width:70px; height:35px" @if (Convert.ToInt32(ViewBag.valPageIndex) == Convert.ToInt32(ViewBag.valSumPageCount)) { @Html.Raw("disabled")      ; } else { @Html.Raw("")      ; @Html.Raw(" onclick='FormPageFinal()'")      ; } />
            資料數: 共 @ViewBag.valSumDataCount 筆 / 每頁 @ViewBag.valPageDataCount 筆  / @DataIndexTop ~ @DataIndexDown
        </td>
    </tr>
    <tr><td style="width:100%" colspan="9"><hr /></td></tr>
    <tr style="height:35px; font-size:18px; background-color:blue; color:white">        
        <td style="width:100px; text-align:center">員編<br />就職日期</td>
        <td style="width:100px; text-align:center">姓名</td>
        <td style="width:100px; text-align:center">行動電話<br />連絡電話</td>
        <td style="width:300px; text-align:center">電子郵件<br />聯絡地址</td>
        <td style="width:100px; text-align:center">備註<br />附註說明</td>
        <td style="width:100px; text-align:center">狀態<br />離職日期</td>
        <td style="width:100px; text-align:center" colspan="2">更新</td>
    </tr>
    <tr><td style="width:100%" colspan="9"><hr /></td></tr>    
    @for (int i = DataIndexTop; i < DataIndexDown; i++)
    {
        <tr style="height:30px;color:blue;font-size:14px">            
            <td style="width:100px; text-align:center">@Model.listEmployeeDetail[i].lEmpIndex<br />@Model.listEmployeeDetail[i].lEmpJoinDate</td>
            <td style="width:100px; text-align:center">@Model.listEmployeeDetail[i].lEmpName</td>
            <td style="width:100px; text-align:left">@Model.listEmployeeDetail[i].lEmpMobile<br />@Model.listEmployeeDetail[i].lEmpPhone</td>
            <td style="width:300px; text-align:left">@Model.listEmployeeDetail[i].lEmpEmail<br />@Model.listEmployeeDetail[i].lEmpAddress</td>
            <td style="width:100px; text-align:left">@Model.listEmployeeDetail[i].lEmpNotation<br />@Model.listEmployeeDetail[i].lEmpRemark</td>
            <td style="width:100px; text-align:center">@Model.listEmployeeDetail[i].lEmpStatus<br />@Model.listEmployeeDetail[i].lEmpLeaveDate</td>
            <td style="width:50px; text-align:center">@Html.ActionLink("修改", "Update", "EmployeeDetail", new { vIndex = Model.listEmployeeDetail[i].lEmpIndex }, new AjaxOptions { HttpMethod = "Post" })</td>
            <td style="width:50px; text-align:center">@Html.ActionLink("刪除", "Delete", "EmployeeDetail", new { vIndex = Model.listEmployeeDetail[i].lEmpIndex }, new AjaxOptions { HttpMethod = "Post" })</td>
        </tr>
        <tr><td style="width:100%" colspan="9"><hr /></td></tr>
    }
</table>

